.article, .fixed-article {

	.main-article {

		@media (min-width: $screen-sm-min) {
			margin-bottom: 90px;
			margin-left: 15px;
		}

		@media (min-width: $screen-lg-min) {
			margin-right: 85px;
		}

		.breadcrumb + h1 {
			margin-top: inherit;
		}

		h1 {
			text-align: center;
			margin-top: 33.33px;

			@media(min-width: $screen-md-min) {
				text-align: left;
			}
		}

		.columns {
			img {
				margin-bottom: 10px;
			}
		}
	}

	.sidebar-article-left {
		height: 220px;
		overflow: hidden;
		position: relative;

		@media (min-width: $screen-md-min) {
			height: 100%;
			position: fixed;
			z-index: -1;
			width: 33.33%;
		}

		img {
			width: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%,0);

			@media (min-width: $screen-md-min) {
				width: auto;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				transform: translate(0,0);
			}
		}
	}

	.columns {
		-webkit-columns: 2 225px;
     	-moz-columns: 2 225px;
        columns: 2 225px;
	    margin-bottom: 20px;
	    -moz-column-fill: auto;
       	column-fill: auto;

	    /* .well {
	    // 	-webkit-column-span: all;
        //      	column-span: all;
	    } */

	    @media (min-width: $screen-md-min) {
	    	-webkit-columns: 2 300px;
     		-moz-columns: 2 300px;
        	columns: 2 300px;
	    }
	}

	.footer {
		@media (min-width: $screen-sm-min) {
			position: fixed;
			bottom: 0;
		}
	}

	.articles-link {
		position: relative;
    	display: inline-block;
    	width: 100%;

		&:before {
			content: '\f00e';
			position: absolute;
			font-family: 'FontAwesome';
			color: white;
			font-size: 24px;
			left: 50%;
			top: 50%;
			text-align: center;
			transform: translate(-50%,-50%);
		}
	}
}

.fixed-article {
	.main-article {
		margin-right: 0;
	}

	.sidebar-article-right {
		overflow: hidden;
		padding: 0 15px 15px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 90px;
		}

		@media (min-width: $screen-md-min) {
			position: fixed;
			z-index: -1;
			margin-bottom: 0;
			top: 60px;
			height: 100%;
			width: 33.33%;
		}

		.img-wgo-galleries {
			a {
				display: block;
				position: relative;

				&:before {
					content: '\f00e';
					font-family: 'FontAwesome';
					font-size: 36px;
					color: $white;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
				}

				&:hover {
					&:before {
						color: $link-color;
					}
				}

				img {
					width: 100%;
				}
			}
		}
	}
}

