.breadcrumb {
	background-color: transparent;
	text-align: center;
	margin-bottom: 0;
	text-align: center;
	padding: 8px 0;
	font-size: 70%;

	@media (min-width: $screen-sm-min) {
		font-size: 100%;
	}

	@media (min-width: $screen-md-min) {
		text-align: right;
	}

	a {
		color: $text-color;
	}

	span {
		color: lighten($text-color,20%);
	}
}