.header {
	background-color: $bg-header;
	height: 200px;

	@media (min-width: $screen-sm-min) {
		height: inherit;
	}
}

.thinker {
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		height: 346px;
	}
	@media (min-width: $screen-md-min) {
		height: 291px;
	}
    @media (min-width: $screen-lg-min) {
		height: 351px;
	}
}

.ib-learnes {
	background-color: $bg-ib-learnes;
	
	.page-header {
		background-image: url($bg-img-ib-learnes);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-header-ib-learnes;
	}
	
	&-text {
		color: $ib-text-color;
	}

}

.global-citizenship {
	background-color: $bg-global-citizenship;

	.page-header {
		background-image: url($bg-img-global-citizenship);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-global-header-citizenship;
	}

	&-text {
		color: $gc-text-color;
	} 
}

.character-building {
	background-color: $bg-character-building;

	.page-header {
		background-image: url($bg-img-character-building);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-character-building-header;
	}

	&-text {
		color: $cb-text-color;
	} 
}

.mentors {
	background-color: $bg-mentors-knowledge;

	.page-header {
		background-image: url($bg-img-mentors);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-mentors-header;
	}

	&-text {
		color: $mentors-text-color;
	} 
}

.healthy-lifestyle {
	background-color: $bg-healthy-lifestyle;
	
	.page-header {
		background-image: url($bg-img-healthy-lifestyle);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-healthy-lifestyle-header;
	}

	&-text {
		color: $hl-text-color;
	} 
}

.digital-learners {
	background-color: $bg-digital-learners;

	.page-header {
		background-image: url($bg-img-digital-learners);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: $bg-digital-learners-header;
	}

	.content {
		color: $white;

		a {
			color: $white;
		}
		
		.thumbnail {
			.caption {
				color: $white;
			}
		}
	}

	.container {
		position: relative;
	}

	&-text {
		color: $dl-text-color;
	} 
}

.categories {

	a {
		color: $text-color;
		text-decoration: none;
	}

	.page-header {
		// background-color: rgba(20,20,20,.1);
		background-size: cover;

		@media (min-width: $screen-sm-min) {
			background-size: inherit;
		}
	}

	.img-responsive {
		width: 100%;
		margin: 0 auto;
	}
}

.category {
	position: relative;
	transition: all 0.1s ease-in-out;
	overflow: hidden;
	
	&:hover {
		z-index: 1000;
	}
	
	@media (min-width: $screen-sm-min) {
		.row {
			height: 175px;
			overflow: hidden;
		}
	}

	@media (min-width: $screen-md-min) {
		.row {
			height: 145px;
		}
	}

	@media (min-width: $screen-lg-min) {
		.row {
			height: 175px;
		}
	}
}

.home {
	.categories {
		// .category-description {
		// 	display: block;
		// 	overflow: hidden;
			
		// 	@media (min-width: $screen-md-min) {
		// 		height: 150px;
		// 	}
		// }
	}
}
