.columns {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    margin-bottom: 20px;

    @media (min-width: 480px) {
    	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
   	 	column-count: 2;
    }

    .item {
    	display: inline-block;
    	width: 100%;
    }

    img.item {
        width: auto;
    }
}
