html {
	position: relative;
	height: 100%;
}

body {
	padding-top: $navbar-min-height;
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	height: 100%;
	position: relative;
}

.img-responsive {
	width: 100%;
	margin: 0 auto;
}

.headmaster-quote {
	.img-responsive {
		width: auto;
	}
}

.img-thumbnail {
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.h150 {
	height: 150px;
}

.text-yellow {
	color: $yellow-text-color;
}

.text-red {
	color: $red-text-color;
}

blockquote {
	border-left: 0;
	font-size: 16px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 30px;
	border-radius: 0;
	position: relative;
}
