.dropdown-menu {
	text-align: center;
	padding: 0;
	background-color: $bg-dropdown;
	box-shadow: 0px 5px 20px $shadow-color;
	width: 100%;

	li {
		a {
			border-bottom: 1px solid darken($bg-dropdown,20%);
		}

		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}
