.footer {
	background-color: $bg-footer;
	color: $footer-color;
	width: 100%;
	padding-top: 15px;
	font-size: 95%;
	text-align: center;
	-webkit-box-flex: none;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			vertical-align: middle;

			a {
				color: $footer-color;
			}
		}
	}

	a {
		color: $footer-color;
		padding: 0 5px;
		display: block;
		text-transform: uppercase;
	}

	.copyright {

		@media (min-width: $screen-sm-min) {
			text-align: left;
		}
	}

	.back-to-top {
		color: $footer-color;
		display: inline-block;
		padding: 5px;

		@media (min-width: $screen-sm-min) {
			float: right;
		}
	}
}