.galleries-container {
	background-color: $bg-galleries;
	overflow: hidden;
	padding-top: 30px;

	.gallery-slide {
		border: 1px solid $gallery-slide-border-color;
		text-align: center;
		background-color: transparent;
		margin: 10px;
		transition: all .5s ease;

		img {
			opacity: 0.5;
			margin: 0 auto;
		}

		@media (min-width: 480px) {
			margin: 25px 20px;
		}

		@media (min-width: $screen-sm-min) {
			margin: 30px 25px;
		}

		@media (min-width: $screen-lg-min) {
			margin: 15px 30px;
		}
	}

	.slick-center {
		transform: scale(1.10);
		
		img {
			opacity: 1;
		}

		@media (min-width: $screen-sm-min) {
			transform: scale(1.05);
		}

		@media (min-width: $screen-lg-min) {
			transform: scale(1);
		}
	}

	.slick-dots {
		bottom: inherit;
		top: -30px;

		li {
			button {
				&:before {
					font-family: 'FontAwesome';
					content: '\f111';
					color: white;
				}
			}	
		}
	}
}
