.home {
	.content {
		.container-fluid {
			@media (min-width: $screen-lg-min) {
				max-width: 1170px;
			}
		}
	}
}

.content {
	@extend .container-fluid;
	-webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
	width: 100%;
	position: relative;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wgo-grid {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: flex-start;

	padding: 15px;

    .grid-item {
    	transition: .8s all;
		width: 49%;
		margin: 0 0.5% 10px;

		@media (min-width: $screen-sm-min) {
			width: 30%;
			margin: 0 1.65% 10px;
		}

		@media (min-width: $screen-md-min) {
			width: 23%;
			margin: 0 1% 10px;
		}
    }
}

