.header {
	position: relative;
}

.edlevels-heading {
	background-color: $bg-edlevels-heading;
	padding: 15px 0;
	position: relative;

	&:after {
	    position: absolute;
	    content: '';
	    width: 0;
	    height: 0;
	    border-left: 65px solid transparent;
	    border-right: 65px solid transparent;
	    border-top: 65px solid #cccdcd;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 0;
	    z-index: -1;
	}
}

.timeline-header, .ourschool-header, .building-header, .ip-header {
	background-color: $bg-timeline-header;
	padding: 12px 15px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $bg-timeline-header;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 auto -8px;
	}
}

.ourschool-header {
	text-align: center;

	@media (min-width: $screen-md-min) {
		margin-top: 65px;
	}
}

.building-header {
	text-align: center !important;

	@media (min-width: $screen-md-min) {
		margin-top: 115px;
	}
}
