.mask {
	background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
}

#loader {
	background: url('css/img/logo.svg') center center no-repeat;
    height: 50px;
    width: 245px;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @media (min-width: $screen-sm-min) {
        top: 45%;
    }
}

.spinner {
    background: url('css/img/spinner.gif') center center no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @media (min-width: $screen-sm-min) {
        top: 55%;
    }
}
