.media-body {
	vertical-align: middle;
}

.profiles {
	.media {
		background-color: $bg-profile-default;
		display: block;
		margin: 0 0 5px;
		color: $text-color;
		text-decoration: none;

			&:hover, &:active {
				color: $link-color;
			}

		.media-object {
			width: 96px;
		}

		span {
			font-size: 12px;
		}

		&.green {
			background-color: $bg-sidebar-deyork;
		}

		&.yellow {
			background-color: $bg-sidebar-yellow;
		}

		&.red {
			background-color: $bg-sidebar-red;
		}

		&.lightyellow {
			background-color: $bg-sidebar-lightyellow;
		}
	}
}

.authorities {
	.media-object {
		height: 150px;
	}
}

.ejes {
	background: url('img/integridad.svg') 0 0 no-repeat;
	width: 100%;
}
