.modal-content {
	border-radius: 0;
}

.modal-header {
	padding: 0;
}

.educationlevels {
    .modal-content {
        button.close {
            position: absolute;
            right: -20px;
            color: $white;
            opacity: 1;
        }
    }
}
