.nav {
	li {
		a {
			padding: 15px 5px;
		}
	}
}

.navbar {
	min-height: $navbar-min-height;
	border: 0;
	border-radius: 0;
	background-color: $bg-navbar;
	transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -$navbar-min-height;
}

.navbar-brand {
	height: inherit;
	padding: 7px 15px 0;
	width: 245px;
}

.navbar-nav {
	margin-top: 8px;
}

.navbar-default {
	.navbar-nav {
		li, .open, .active {
			a {
				text-transform: uppercase;
				font-weight: 400;
				font-size: 0.74em;
				color: $navbar-link;
				transition: all 0.2s ease-in-out;

				&:hover, &:focus {
					background-color: $navbar-link-bg-hover;
					color: $navbar-link-color-hover;
				}
                
                @media(min-width: 1400px) {
                    font-size: 0.9em;
                }
			}
		}
	}

	.navbar-toggle {
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

.navbar-form {
	margin-top: 14px;
	display: none;

	@media(min-width: $screen-lg-min) {
		display: block;
	}
}

.navbar-flags {
	margin-top: 5px;

	li {
		a {
			padding-left: 5px;
			padding-right: 5px;
			width: 42px;

			&:hover, &:focus {
				background-color: darken($bg-navbar,5%) !important;
			}
		}
	}
}

.navbar-toggle {
	margin-top: 18px;
	padding: 0;
    border: none;
    border-radius: 0;

    .icon-bar {
    	width: 28px;
    	height: 4px;
    	border-radius: 0px;
    	position: relative;
	  	transition: all 0.2s ease-in-out;

    	&:nth-of-type(3) {
			top: 1px;
		}

		&:nth-of-type(4) {
		  	top: 2px;
		}
    }

    &.active {
		.icon-bar {
			&:nth-of-type(2) {
				top: 9px;
				transform: rotate(45deg);
			}

			&:nth-of-type(3) {
				background-color: transparent;
			}

			&:nth-of-type(4) {
			    top: -7px;
			    transform: rotate(-45deg);
		    }
		}
	}
}

@media (max-width: $screen-md-min) {
    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
  		display:block !important;
	}
}
