.panel {
	border: 0;
	border-radius: 0 !important;
	box-shadow: none;
	margin: 2px 0;
}

.panel-heading {
	border-radius: 0;
}

.panel-body {
	padding: 15px;

	h3 {
		text-align: center;

		@media (min-width: $screen-md-min) {
			text-align: left;
		}
	}
}

.panel-oneschool {
	background-color: $bg-panel-oneschool;
}

.panel-faculty {
	background-color: $bg-panel-faculty;

	a {
		color: $text-color;
	}
}

.panel-yellow {
	background-color: $bg-panel-yellow;
}

.panel-autoras {
	background-color: $bg-panel-autoras;

	.panel-heading {
		padding: 0;
	}

	.panel-body {
		background-color: $bg-panel-body-autoras;
	}

	.media-object {
		width: 60px;
	}
}

.panel-affiliations {
	img {
		width: auto;
		height: 40px;
		margin: 0 auto 15px;
	}

	a {
		display: block;
	}
}

.panel-nav {
	@extend .panel;
	border: none;
	background-color: rgba(20,20,20,.1);
	border-radius: 10px;
}

.panel-axes {
	padding-bottom: 15px;
	text-align: left;

	@media (min-width: $screen-sm-min) {
		text-align: center;
	}

	// a {
	// 	color: $text-color;
	// 	display: block;

	// 	&:hover{
	// 		color: $link-color;
	// 	}
		
		.commitment {
			.fa-circle {
				color: $commitment-color;
				
			}

			// &:hover {
			// 	.fa-circle {
			// 		color: darken($commitment-color,10);
			// 	}
			// }

		}

		.education {
			.fa-circle {
				color: $education-color;

			}
			
			// &:hover {
			// 	.fa-circle {
			// 		color: darken($education-color,10);
			// 	}
			// }
		}

		.profile {
			.fa-circle {
				color: $profile-color;
			}
			
			// &:hover {
			// 	.fa-circle {
			// 		color: darken($profile-color,10);
			// 	}
			// }
		}

		.habits {
			.fa-circle {
				color: $habits-color;
			}

			// &:hover {
			// 	.fa-circle {
			// 		color: darken($habits-color,10);
			// 	}
			// }
		}
	// }

}

.authorities {
	.panel {
		box-shadow: 1px 1px 3px $panel-shadow;
	}

	.panel, .panel-group {
		margin: 10px;
		border-radius: 0;

		.panel-heading, .panel-body {
			padding: 0;
			border-radius: 0;

			&#headingOne {
				padding: 15px;

				a {
					display: block;
				}
			}

			a.media {
				display: block;
				color: $black;

				&:hover, &:focus {
					color: $link-color;
					text-decoration: none;
				}

				.media-body {
					vertical-align: top;
					padding-top: 10px;
					padding-right: 10px;
				}
			}

			&.panel-body-bone, &.panel-heading-bone {
				background-color: $bone;
			}

			&.panel-body-kangaroo, &.panel-heading-kangaroo {
				background-color: $kangaroo;
			}

			&.panel-body-mischka, &.panel-heading-mischka {
				background-color: $mischka;
			}
		}
	}
}

.panel-branch {
	padding: 0 15px;
	margin-bottom: 15px;

	ul {
		list-style: none;
		padding: 0 0 15px;
		margin: 0;
	}

	&.olivos {
		background-color: $bg-panel-branch-olivos;
	}

	&.nordelta {
		background-color: $bg-panel-branch-nordelta;
	}

	.panel-heading {
		background-color: rgba($black,0.1);

		a {
			display: block;
			position: relative;

			&:before {
				content: '\f056';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
			}
		}

		a.collapsed {
			&:before {
				content: '\f055';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
			}
		}

		&.panel-houses {
			background-color: $bg-houses;

			a {
				color: $black;
			}
		}

		&.panel-captains {
			background-color: $bg-captains;

			a {
				color: $black;
			}
		}

		&.panel-prefects {
			background-color: $bg-prefects;

			a {
				color: $black;
			}
		}
	}
}
