
.home, .categories, .article, .fixed-article {
	padding-top: $navbar-min-height;
}

.home {

	.categories {
		padding-top: 0;
	}
}

.authorities {
	h3 {
		margin-top: 17px;
	}
}

.educationlevels, .ourschool, .building, .admissions {
	h1, h3 {
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $screen-md-min) {
			text-align: left;
		}
	}

	.panel-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;

		span {
			text-transform: none;
			font-size: 22px;
		}

		a {
			display: block;
			position: relative;

			&:before {
				content: '\f056';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
			}
		}

		a.collapsed {
			&:before {
				content: '\f055';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
			}
		}
	}

	.initial {
		background-color: $bg-initial-collapse;
	}

	.primary {
		background-color: $bg-primary-collapse;
	}

	.secondary {
		background-color: $bg-secondary-collapse;
	}
}

.educationlevels {
	.section {
		background-repeat: no-repeat;
		background-position: 470px 0;
		padding: 40px 0 60px;
		margin-bottom: 50px;

		.section-inner {
			overflow: hidden;
			font-size: 10px;

			@media(min-width: $screen-md-min) {
				font-size: 13px;
			}

			@media(min-width: $screen-lg-min) {
				font-size: 15px;
			}

			.info {
				text-align: left;
				padding: 15px 0 0;

				@media(min-width: $screen-md-min) {
					padding: 22px 0 0;
				}

				@media(min-width: $screen-lg-min) {
					padding: 35px 0 0;
				}

				h3 {
					text-align: left;
					margin: 5px 0;
				}
			}

			.img-container {
				margin: 11px 0 0 22px;
				position: relative;

				@media(min-width: $screen-md-min) {
					margin: 15px 0 0 30px;
				}

				@media(min-width: $screen-lg-min) {
					margin: 18px 0 0 35px;
				}

				a {
					display: block;
					position: relative;
					color: $white;

					&:before {
						content: '\f00e';
						font-family: 'FontAwesome';
						font-size: 20px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						margin: 0 auto;
					}
				}
			}
		}

		.initial, .primary, .secondary {
			background-color: transparent;
			background-position: 0 0;
			background-repeat: no-repeat;
			width: 100%;
			height: 0;
			padding-bottom: 29%;
		}

		.initial {
			//background-image: url("img/bg-educationlevels-initial.svg");
		}

		.primary {
			//background-image: url("img/bg-educationlevels-primary.svg");
		}

		.secondary {
			//background-image: url("img/bg-educationlevels-secondary.svg");
			padding-bottom: 27.8%;
		}

		@media(min-width: $screen-md-min) {
			background-position: 630px 0;

			.row + .row {
				margin-top: -25px;
			}
		}

		@media(min-width: $screen-lg-min) {
			background-position: 770px 0;
			padding: 50px 0 80px;
		}
	}
}

.ourschool {

	iframe {
		height: 160px;

		@media (min-width: 420px) {
			height: 200px;
		}

		@media (min-width: $screen-xs-min) {
			height: 260px;
		}

		@media (min-width: $screen-sm-min) {
			height: 360px;
		}

		@media (min-width: $screen-md-min) {
			height: 314px;
		}

		@media (min-width: $screen-lg-min) {
			height: 380px;
		}
	}

	img {
		width: 100%;
	}
}

.building, .admissions {
	h4.panel-title {
		text-transform: none;
		font-size: 16px;

		span {
			font-size: 14px;
		}
	}
}

.admissions {
	.panel-collapse {
		a {
			color: $text-color;
			text-decoration: underline;
		}
	}
}

.building {
	a {
		color: $text-color;
		text-decoration: none;

		&:hover, &:active {
			color: $link-color;
		}
	}
}

.performing-arts {
	&:after {
		content: '';
		background-image: url('img/bg-performing-arts.svg');
		background-repeat: no-repeat;
		background-position: 0 240px;
		opacity: 0.4;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		@media(min-width: $screen-xs-min) {
			background-position: 0 120px;
		}

		@media(min-width: $screen-sm-min) {
			background-position: 0 0;
		}

		@media(min-width: $screen-md-min) {
			background-position: right top;
			background-size: 40%;
			opacity: 1;
			top: 65px;
		}
	}

	.visual-arts {
		.panel-group {
			.panel {
				background-color: $bg-visual-arts;
			}
		}
	}

	.dramatic-arts {
		.panel-group {
			.panel {
				background-color: $bg-dramatic-arts;
			}
		}
	}

	.musical-arts {
		.panel-group {
			.panel {
				background-color: $bg-musical-arts;
			}
		}
	}

	.panel-body {
		border-top: none !important;
	}
}

.pe {
	ul.sports {
		list-style: none;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0;

			@media (min-width: $screen-sm-min) {
				display: block;
				margin: 15px 0;
			}
		}
	}

	.sidebar {
		background-color: $bg-pe-sidebar;
	}

	video {
		width: 100%;
	}
}

.international-programmes {
	.disclaimer {
		margin-top: 15px;
	}

	.pyp, .igcse, .ibo {
		padding: 5px 10px;
		margin: 15px 0 25px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -20px;
			height: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
		}

		@media(min-width: $screen-sm-min) {
			min-height: 400px;
		}

		@media(min-width: $screen-md-min) {
			min-height: 500px;
		}

		@media(min-width: $screen-lg-min) {
			min-height: 400px;
		}
	}

	.pyp {
		background-color: yellow;

		&:before {
			border-top: 20px solid yellow;
		}
	}

	.igcse {
		background-color: orange;

		&:before {
			border-top: 20px solid orange;
		}
	}

	.ibo {
		background-color: lightblue;

		&:before {
			border-top: 20px solid lightblue;
		}
	}

	ul.ip-logos {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 15px;
			display: block;

			a {
				img {
					width: 120px;
				}
			}
		}
	}
}
