.sidebar {
	background-color: $bg-sidebar-default;
	padding: 15px;

	&-green {
		background-color: $bg-sidebar-deyork;
	}

	&-yellow {
		background-color: $bg-sidebar-yellow;
	}

	&-red {
		background-color: $bg-sidebar-red;
	}

	&-lightyellow {
		background-color: $bg-sidebar-lightyellow;
	}

	.description {
		margin-top: 15px;
	}
}

.sidebar-navigation {
    padding: 10px;
    background-color: $bg-navigation-sidebar;
    margin: 10px 0;

    .faculty-navigation {
    	a {
    		width: 15%;
    	}
    }
}

.faculty-navigation {
	text-align: center;

	@media (min-width: $screen-sm-min) {
		text-align: left;
		margin-top: -2px;
	}

	a {
		display: inline-block;
		text-align: center;
		width: 15%;
		margin: 2px 0 0;

		&:hover {
			opacity: .75;
		}

		.img-thumbnail {
			padding: 0;
		}

		@media (min-width: 420px) {
			width: 15.5%
		}

		@media (min-width: 630px) {
			width: 16%
		}

		@media (min-width: $screen-sm-min) {
			width: 24%;
		}

		@media (min-width: $screen-md-min) {
			width: 19.5%;
		}

		@media (min-width: $screen-lg-min) {
			width: 18.5%;
		}
	}
}