.hl-slider.slick-slider {
	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		margin-bottom: -10px;
	}
}

.slick-slider {
	.img-slider {
		width: 100%;
	}
}

.slick-arrow {
	z-index: 9;
}

.slick-prev {
	left: 0px;
}

.slick-next {
	right: 0px;
}

.slick-dots {
	li {
		width: 5px;
		height: 5px;
		margin: 0 2px;

		button {
			width: 5px;
			height: 5px;
			padding: 0;

			&:before {
				width: inherit;
				height: inherit;
				line-height: 1;
			}
		}
	}
}