.thumbnail {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.wgo-thumbnail {
	box-shadow: 2px 2px 5px $wgo-thumbnail-box-shadow-color;
	padding: 15px 15px 0;
	position: relative;

	img {
		width: 100%;
	}

	.caption {
		padding: 0;
		display: block;
		overflow: hidden;
		color: $wgo-thumbnail-caption-color; 

		&:hover {
			text-decoration: none;
			color: darken($wgo-thumbnail-caption-color,10);
		}

		h3 {
			margin-bottom: 0;
		}
	}

	h4 {
		font-size: 18px;
	
		@media (min-width: $screen-sm-min) /* 768px en adelante */{
			font-size: 16px; 
		}

		@media (min-width: $screen-md-min) /* 992px en adelante */{
			font-size: 17px; 
		}

		@media (min-width: $screen-lg-min) /* 1200px en adelante */{
			font-size: 15px; 
		}
	}

	p, h5	{
		strong {
			i {
				font-size: 12px;
				font-weight: normal;
			}
		}
	}

	.place {
		background-color: $athensgray;
		padding: 5px 15px;
		font-size: 80%;
	}
}

.absolute-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
}
