.timeline {
	text-align: center;

	.panel-group .panel-heading + .panel-collapse > .panel-body, 
	.panel-group .panel-heading + .panel-collapse > .list-group {
		border-top: none;
		padding: 0;
	}

	.panel-heading {
		overflow: hidden;

		.panel-title {
			a {
				color: $panel-timeline-color;
				font-family: 'Monsieur La Doulaise', cursive;
				font-size: 22px;
				padding: 0 25px;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}

	.panel {
		&-yellow {
			background-color: $bg-panel-timeline-yellow;
		}

		&-orange {
			background-color: $bg-panel-timeline-orange;
		}

		&-red {
			background-color: $bg-panel-timeline-red;
		}

		&-violet {
			background-color: $bg-panel-timeline-violet;
		}

		&-purple {
			background-color: $bg-panel-timeline-purple;
		}

		&-blue {
			background-color: $bg-panel-timeline-blue;
		}

		&-lightblue {
			background-color: $bg-panel-timeline-lightblue;
		}

		&-green {
			background-color: $bg-panel-timeline-green;
		}

		&-gray {
			background-color: $bg-panel-timeline-gray;
		}


	}



}
