
h1, .h1 { 
	font-size: $font-size-h1 - 7;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h1 - 5;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h1 - 3;
	}
}

h2, .h2 { 
	font-size: $font-size-h2 - 7;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h2 - 5;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h2 - 3;
	}
}

h3, .h3 { 
	font-size: $font-size-h3 - 7;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h3 - 5;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h3 - 7;
	}
}

h4, .h4 { 
	font-size: $font-size-h4 - 2;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h4 - 1;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h4;
	}
}

h5, .h5 { 
	font-size: $font-size-h5 - 2;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h5 - 1;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h5;
	}
}

h6, .h6 { 
	font-size: $font-size-h6 - 2;

	@media(min-width: $screen-md-min) {
		font-size: $font-size-h6 - 1;
	}

	@media(min-width: $screen-lg-min) {
		font-size: $font-size-h6;
	}
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($line-height-computed / 1.5);
  margin-bottom: ($line-height-computed / 1.5);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed / 2.5);
  margin-bottom: ($line-height-computed / 2.5);
}

.caption h3 {
	font-weight: bold;
}

.page-header {
	border-bottom: 0;
	overflow: hidden;
	margin: 0 0 30px;
	padding: 20px 0;

	h1 {
		text-align: center;

		@media (min-width: $screen-md-min) {
			text-align: left;
		}
	}

	& + .page-header {
		background-image: none !important;
		margin-top: -30px;
	}
}

.lead {
	margin: 15px 0 0;
	font-weight: 600;

	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}

	.columns & {
		color: $article-lead-color;
		font-weight: normal;
		text-align: center;
		margin-bottom: 20px;
	}
}

.headmaster-quote {
	overflow: hidden;
	background-color: $celtic;
	color: $white;
	position: relative;

	p {
		font-size: 14px;
		margin-top: 10px;
		text-align: center;

		i {
			&:before {
				content: '\f10d';
				font-family: FontAwesome;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.3;
				color: $asparagus;
				font-size: 80px;
				font-style: italic;
			}
		}
	}
	
	@media (min-width: 420px) {
		p {
			margin-top: 20px;
			font-size: 16px;
		}
	}

	@media (min-width: 630px) {
		p {
			margin-top: 25px;
			font-size: 18px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		p {
			margin-top: 20px;
			font-size: 12px;
			text-align: left;
		}
	}

	@media (min-width: $screen-md-min) {
		p {
			margin-top: 22px;
			font-size: 14px;
		}
	}
}

.wgo {
	h1 {
		margin-top: 0;
	}
}
