.well {
	border-radius: 0;
	position: relative;

	h4 {
		text-align: center;
	}

	&.green {
		background-color: $bg-well-green;
		color: $color-well-black;
	}

	&.black {
		background-color: $bg-well-black;
		color: $color-well-yellow;
	}

	&.black-beware {
		background-color: $bg-well-black;
		color: $color-well-yellow;
		margin-top: 60px;

		h4 {
			text-align: right;
			margin-bottom: 60px;
		}
	}

	&.froly {
		background-color: $bg-well-froly;
		color: $color-well-black;
	}

	&.yellow {
		background-color: $bg-well-yellow;
		color: $color-well-gray;
	}

	&.orange {
		background-color: $bg-well-orange;
		color: $color-well-gray;
	}

	&.light-green {
		background-color: $bg-well-light-green;
		color: $color-well-gray;		
	}

	&.join {
		background-color: $bg-well-join;
		text-align: center;

		.panel-body {
			padding: 0;
		}

		.panel-footer {
			background-color: darken($bg-well-join,5%);
			border-top: none;

			a {
				color: $text-color;
			}
		}
	}

	.img-absolute {
		position: absolute;
		
		&.beware {
			top: -60px;
			left: -30px;
			transform: rotate(-17deg);
		}
	}
}

.faculty-detail {
	.well.yellow {
		padding-right: 105px;
	}
}
