// Establishing a color palette

$abbey:				rgb(72,72,73);			// #484849
$akaroa:			rgb(212,204,160);		// #D4CCA0
$amber:				rgb(252,193,0);			// #FCC100
$asparagus: 		rgb(106,167,87); 		// #6AA757
$athensgray:		rgb(241,241,242);		// #F1F1F2
$bilbao:			rgb(43,127,14);			// #2B7F0E
$black: 			rgb(0,0,0);				// #000000
$blaze-orange:		rgb(255,103,0);			// #FF6700
$blue-bell:			rgb(151,143,197);		// #978FC5
$burnt-sienna: 		rgb(235,86,87);			// #EB5657
$butterflybush:		rgb(98,74,150);			// #624A96
$bright-sun: 		rgb(254,206,69);		// #FECE45
$bone:				rgb(224,214,186);		// #E0D6BA
$buff:				rgb(244,214,139);		// #F4D68B	
$cancan:			rgb(213,145,164);		// #D591A4
$christine:			rgb(232,108,8);			// #E86C08
$cello: 			rgb(31,50,92); 			// #1F325C
$celtic:			rgb(27,57,33);			// #1b3921
$cloudy:			rgb(180,172,164);		// #B4ACA4
$codgray:			rgb(17,17,17);			// #111111
$crete:				rgb(78,123,46);			// #4E7B2E
$crimson:			rgb(232,15,15);			// #E80F0F
$crusta:			rgb(249,138,62);		// #F98A3E
$deepcove:			rgb(6,29,60);			// #061D3C
$deluge: 			rgb(119,103,173);		// #7767AD
$deyork:			rgb(150,206,145);		// #96CE91
$endeavour:			rgb(0,102,174);			// #0066AE
$flamingo:			rgb(242,67,61);			// #F2433D
$froly:				rgb(244,131,131);		// #F48383
$gigas:				rgb(81,63,153);			// #513F99
$gray:				#cccccc;
$grain-brown:		rgb(226,210,183);		// #E2D2B7
$green-kelp:		rgb(34,56,30);			// #22381E
$green-spring: 		rgb(187,193,181);		// #BBC1B5 
$hampton: 			rgb(229,200,174);		// #E5DCAE
$iron:				rgb(219,220,222);		// #DBDCDE
$jaffa: 			rgb(240,131,57);		// #F08339
$kangaroo:			rgb(201,204,192);		// #C9CCC0
$lightblue:			rgb(173,216,230);		// #add8e6
$link-water:		rgb(218,233,247);		// #DAE9F7
$medium-red:		rgb(179,44,134);		// #B32C86
$mischka:			rgb(208,208,217);		// #D0D0D9
$monte-carlo: 		rgb(125,201,208);		// #7DC9D0
$pelorous:			rgb(71,186,192);		// #47bac0
$pomegranate:       rgb(238,41,38);         // #ee2926
$pumice:			rgb(217,218,217);		// #D9DAD9
$sea-buckthorn:		rgb(250,165,39);		// #FAA527
$sea-mist:			rgb(194,219,205);		// #C2DBCD
$selective-yellow:	rgb(251,188,0);			// #FBBC00
$silver-sand: 		rgb(204,205,205);		// #CCCDCD
$sunglow:			rgb(255,209,54);		// #FFD136
$scampi:			rgb(106,90,167);		// #6A5AA7
$spring-rain:		rgb(176,205,168);		// #B0CDA8
$thunderbird:		rgb(184,24,24);			// #B81818
$white:				rgb(255,255,255);		// #FFFFFF
$look-ugly:			rgb(208,211,203);		// #D0D3CB
$look-worst:		rgb(214,213,219);		// #D6D5DB
$viking:			rgb(93,193,218);		// #5DC1DA

//== Scaffolding
//
//## Settings for some of the most global styles.

$bg-body:               $white !default;
$text-color:            $black !default;
$link-color:            lighten($text-color, 15%) !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

//== Navbar
$bg-navbar: $athensgray;
$navbar-link: $deepcove;
$navbar-link-color-hover: $white;
$navbar-link-bg-hover: $abbey;

$navbar-min-height: 60px;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-md-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

//== Dropdowns
$bg-dropdown: $bg-navbar; 
$shadow-color: $abbey;

// Nav
$bg-nav: $gray;

// Categories Colors
$bg-header: 				$white;
$bg-ib-learnes: 			$monte-carlo;
$bg-global-citizenship: 	$asparagus;		
$bg-character-building: 	$jaffa;
$bg-mentors-knowledge: 		$bright-sun;
$bg-healthy-lifestyle: 		$burnt-sienna;
$bg-digital-learners: 		$deluge;

$bg-header-ib-learnes: $pelorous;
$bg-global-header-citizenship: $bilbao;
$bg-character-building-header: $christine;
$bg-mentors-header: $selective-yellow;
$bg-healthy-lifestyle-header: $thunderbird;
$bg-digital-learners-header: $gigas;

// Categories text color
$ib-text-color:			$bg-ib-learnes;
$gc-text-color:			$bg-global-citizenship;
$cb-text-color:			$bg-character-building;
$mentors-text-color:	$selective-yellow;
$hl-text-color:			$bg-healthy-lifestyle;
$dl-text-color:			$bg-digital-learners;

//== Input
$border-input-color: $abbey;

//== Panels
$bg-panel-oneschool: $iron;
$bg-panel-faculty: $athensgray;
$panel-shadow: $abbey;
$bg-panel-branch-olivos: $look-ugly;
$bg-panel-branch-nordelta: $look-worst;
$bg-panel-autoras: $buff;
$bg-panel-body-autoras: $iron;
$panel-timeline-color: $white;
$bg-panel-yellow: $amber;
//== Timeline

$bg-panel-timeline-gray: $cloudy;
$bg-panel-timeline-green: $crete;
$bg-panel-timeline-lightblue: $viking;
$bg-panel-timeline-blue: $endeavour;
$bg-panel-timeline-purple: $butterflybush;
$bg-panel-timeline-violet: $medium-red;
$bg-panel-timeline-red: $thunderbird;
$bg-panel-timeline-orange: $christine;
$bg-panel-timeline-yellow: $amber;
$bg-timeline-header: $iron;

//== Arts
$bg-visual-arts: $grain-brown;
$bg-dramatic-arts: $mischka;
$bg-musical-arts: $kangaroo;

//== Schoollife
$bg-houses: $grain-brown;
$bg-captains: $kangaroo;
$bg-prefects: $mischka;

//== Sidebar
$bg-sidebar-default: $blue-bell;
$bg-sidebar-deyork: $deyork;
$bg-navigation-sidebar: $pumice;
$bg-sidebar-yellow: $sunglow;
$bg-sidebar-lightyellow: $buff;
$bg-sidebar-red: $froly;
$bg-pe-sidebar: $deyork;

//== Profiles

$bg-profile-default: $bg-sidebar-default;
$bg-profile-deyork: $bg-sidebar-deyork;
$bg-profile-yellow: $bg-sidebar-yellow;
$bg-profile-lightyellow: $bg-sidebar-lightyellow;
$bg-profile-red: $bg-sidebar-red;

//== Footer
$bg-footer: $codgray;
$footer-color: $white;

//== Images

$bg-img-ib-learnes:				'img/bg-heading-ib-learnes.svg';
$bg-img-global-citizenship:		'img/bg-heading-global-citizenship.svg';
$bg-img-character-building:		'img/bg-heading-character-building.svg';
$bg-img-mentors:				'img/bg-heading-mentors.svg';
$bg-img-healthy-lifestyle:		'img/bg-heading-healthy-lifestyle.svg';
$bg-img-digital-learners:		'img/bg-heading-digital-learners.svg';

//== The Northlands Way

$commitment-color: $spring-rain;
$education-color: $sea-mist;
$profile-color: $link-water;
$habits-color: $hampton;

//== Wgo Galleries
$bg-galleries: $black;
$gallery-slide-border-color: $bg-footer;
$wgo-thumbnail-box-shadow-color: $abbey;
$wgo-thumbnail-caption-color: $bilbao;

//== Articles

$article-lead-color: $bilbao;

//== Wells
$bg-well-green: $bilbao;
$bg-well-black: $black;
$color-well-black: $bg-well-black;
$color-well-yellow: $sunglow;
$bg-well-froly: $froly;
$bg-well-yellow: $color-well-yellow;
$color-well-gray: $abbey;
$bg-well-orange: $christine;
$bg-well-light-green: $deyork;

$yellow-text-color: $color-well-yellow;
$red-text-color: $burnt-sienna;
$orange-text-color: $sea-buckthorn;

$bg-well-join: $hampton;

$bg-initial-collapse: $akaroa;
$bg-primary-collapse: $green-spring;
$bg-secondary-collapse: $silver-sand;
$bg-edlevels-heading: $silver-sand;


